$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #00695c;
$primary-dark: #003d32;
$primary-light: #439688;
$on-primary: #ffffff;

$secondary: #00838e;
$secondary-dark: #005661;
$secondary-light: #4fb3be;
$on-secondary: #ffffff;

$error:#B00020;
$on-error: #ffffff;

$success: #2054f0;
$on-success: #ffffff
